.each-input-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 10px;
    /* border: 2px solid red; */
    
}

.flex-word-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* border: 2px solid blue; */
}


.each-input {
    width: 100%;
    border: 1px solid grey;
    border-radius: 7px;
    /* border: 2px solid green; */
    
}


.each-input div {
    width: 100%;
}

.sub-title {
    margin-top: 9px;
    margin-bottom: 13px;
}

h4.sub-title {

  
}

p.sub-title {
    color: grey;
}
